<script src="script.js"></script>
<a href="../">Home</a> | <a href="../random">Random (<%=remaining;%>/<%=total;%>)</a> | <a href="../meta">Meta (<%=remainingMeta;%>/<%=totalMeta;%>)</a> | <a href="../final">Final (<%=remainingFinal;%>/<%=totalFinal;%>)</a> | <a href="http://discord.gg/8AMPd4A" target="_blank">Discord</a>