<!DOCTYPE html>
<html>
<head>
  <title>
    JD's Christmas Puzzles because why not?
  </title>
</head>
<body>
<fieldset>
  <legend>Username</legend>
  <input autocomplete="off" type="text" id="username" value="<%=username;%>" /><input value="Update Username" type="button" onclick="document.cookie='username=' + document.getElementById('username').value" />
</fieldset>
  <%=message;%>
<br />
<br />
Hello and welcome to a puzzle of fun and of mystery fun!<br />
<br />
There are currently <%=remaining;%> out of <%=total;%> puzzles, <%=remainingMeta;%> out of <%=totalMeta;%> Meta,  unsolved. The meta puzzles can be found <a href="/meta">here.</a> The final puzzle is <a href="/final">here.</a> Want a random puzzle, click <a href="/random">here!</a> Here are the currently solved ones:<br />
<br />
Nope
</body>
</html>
