<!DOCTYPE html>
<html>
<head>
  <title>
    JD's Christmas Puzzles because why not?
  </title>
</head>
<body>
<fieldset>
  <legend>Username</legend>
  <form method="POST" action="/setusername"><input autocomplete="off" type="text" name="username" id="username" value="<%=username;%>" /><input value="Update Username" type="submit" /></form>
</fieldset>
<br />
<br />
Hello and welcome to a puzzle of fun and of mystery fun!<br />
<br />
There are currently <%=remaining;%> out of <%=total;%> puzzles, <%=remainingMeta;%> out of <%=totalMeta;%> Meta, and <%=remainingFinal;%> out of <%=totalFinal;%> final puzzles unsolved. The meta puzzles can be found <a href="/meta">here.</a> The final puzzle is <a href="/final">here.</a> Want a random puzzle, click <a href="/random">here!</a><br />
<br />
Quick tips:<br />
<br />
None of the puzzles require brute forcing or trying to hack this site. If any of this is detected, the puzzle hunt will be shut down immediately.<br />
<br />
Furthermore, to save you a headache, there are no hints on this page, and if there is a bitly then you will be clued to it. I swear.<br />
<br />
Also, to keep things easy for spoilers, there's a Discord <a href="http://discord.gg/8AMPd4A" target="_blank">here</a> to chat / work on puzzles together.
<br />
<% if(allGuessed.length == 0) { %>
Sorry, no one's solved any puzzles yet!
<% } else { %>
Here are the currently solved ones:<br />
<br />
  <% for(var i = 0;i<allGuessed.length;i++) { %>
    <a href="/<%=allGuessed[i].name;%>" target="_blank"><%=allGuessed[i].title;%></a><br />
  <% } %>
<% } %>
</body>
</html>
