<!DOCTYPE html>
<html>
<head>
<title>
Metas
</title>
<style>
.guess {
  display: none;
}

#showguesses:checked~ul>li.guess {
  display: block;
}
</style>
</head>
<body>
    <% if (show_solutions == 1) { %>
      <a href="<%=name;%>/ShowMeTheSolution/">Solution</a>
      <% } %>
    <fieldset>
        <legend>Username</legend>
        <form method="POST" action="/setusername"><input autocomplete="off" type="text" id="username" name="username" value="<%=username;%>" /><input value="Update Username" type="submit" /></form>
      </fieldset>
<br />
<br />
There are a total of five meta puzzles to solve, using the data from the normal puzzles. They can be solved/entered in any order. They are:
<ul>
    <li>ALL AROUND THE WORLD STATUES CRUMBLE FOR ME!</li>
    <li>I come in threes, but NOT the one with math involved.</li>
    <li>Like Maxime Trijol, these are the product of a LOT of cross checking work, so put your math hat on! To find the right order, look deep within.</li>
    <li>"Analogies": are very weird, and there are a bunch of them. 9QrLurY (or 1MJoe)</li>
    <li><a href="https://docs.google.com/spreadsheets/d/1QRITDGI4JuDrX99eyTrIzaRN4Ar_1g0dqbMfoK8LZpE/edit?usp=sharing" target="_blank">This one's for the birds!</a></li>
</ul>


























































































































































































<% if (isRight == "true") { %>
  Your guess was correct!
<% } %>
<% if (isRight == "false") { %>
  Your guess was incorrect.
<% } %>
<hr style="width:100%">
Remember, all puzzle answers are only letters, no symbols or numbers.<br />
<br />
<form id="myForm" method="POST">
  <%=username;%> has a guess of <input type="text" placeholder="Meta Answer" name="answer" id="answer" />
  <input type="submit" text="Submit">
</form>
<br />
<br />
<h2>Guesses</h2>
Click here to view <%=guesses.length;%> guesses: <input type="checkbox" id="showguesses" />
<ul>
<% for(var i = 0;i<guesses.length;i++) {%>
<li class="guess">
  <% if(guesses[i].didsolve == 1) { %>
    <b>
  <%}%>
  <%=guesses[i].guess;%> guessed by <%=guesses[i].player;%>
  <% if(guesses[i].didsolve == 1) { %>
    </b>
  <%}%>
</li>
<%}%>
</ul>
<br />
<br />
<%- include("../pages/footer.ejs") %>
</body>
</html>