<!DOCTYPE html>
<html>
<head>
<title>
<%=title;%>
</title>
</head>
<body>
<%- include(partial) %>
<br />
<br />
<%=message;%>
<form method="POST">
  <%=username;%> has a guess of <input type="text" placeholder="Puzzle Answer" name="answer" id="answer" />
  <input type="submit" text="Submit">
</form>
<br />
<br />
<h2>Guesses</h2>
<br />
<ul>
<% for(var i = 0;i<guesses.length;i++) {%>
<li><%=guesses[i].guess;%></li>
<%}%>
</ul>
<br />
<br />
<a href="../">Home</a> | <a href="../random">Random Puzzle</a>
</body>
</html>
