<!DOCTYPE html>
<html>
<head>
<title>
<%=title;%>
</title>
</head>
<body>
<h2><%=title;%> - Solution</h2>
<h3>Answer: <%=answer;%></h3>
<%- include(partial) %>
<br />
<br />
<%- include("../pages/footer.ejs") %>
</body>
</html>